@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
$maxWidthContainer: 1050px;
body{
  background-color:#ECE9E4;
  margin: 0 0 0 0;
}
._container{
  max-width:$maxWidthContainer;
  margin: 0 auto;
  // border:solid;
}
.header {
  background-image: url(images/mak-UGr8P_q-BEk-unsplash1.png);
  background-size: 100%;
  height: 55px;
  // border:solid;
  &__content{
      display:flex;
      align-items: center;
      // justify-content: center;
  }
  &__main_ref{
    text-decoration: none;
  }
  &__logo{
      margin-top:10px;
      font-size:37px;
      margin-right:0px;
      font-family: 'Dancing Script';
      font-weight: 700;
      background-color:#895610;
      color: transparent;
      text-shadow: 0px 2px 3px #ECE9E4;
        -webkit-background-clip: text;
            -moz-background-clip: text;
               background-clip: text;
      }
  &__search{
      margin-top: 10px;
      width:470px;
      height: 43px;
      border: solid;
      border-color:#E1D8D1;
      border-width: 2px;
      border-radius:30px;
      margin-left:200px;
      display:flex;
      align-items: center;
      // justify-content: center;
      
  }
  &__text{
      border:none;
      background:none;
      outline:none;
      font-size:20px;
      padding-left:13px;
      font-family:'Raleway';
      font-weight:400;
      color:black;
  }
  &__icon1{
      height: 25px;
      width: 25px;
      margin-left:187px ;
  }
  &__icons{
      margin-top: 10px;
      margin-left: 220px;
      display: flex;
  }
  &__icon3{
      margin-left:15px;
  }
  &__title{
    margin-top:59px;
    p{
      font-family: 'Raleway';
      font-weight: 500;
      font-size: 37px;
      margin-top:0px;
      margin-bottom: 0px;
      background-color:#5f3a06;
      color: transparent;
      text-shadow: 0px 2px 3px #cdbea5;
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;
    }
    &__text2{
      margin-left:279px;
    }
    
  }
}
.go_back{
  border-bottom: 1px solid #D6AB7E;
  &__container{
    height: 58px;
    display: flex;
    align-items: center
  }
  &__content{
    a{
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 20px;
      color:black;
      margin-right: 220px;
    }
    }
}

.catalogue{
  border-bottom:1px solid #D6AB7E;
  &__content{
    display:flex;
  }
}
.menu{
  &__container{
    width:240px;
  }
  &__title1{
    display: flex;
    align-items: center;
    height: 56px;
    border-bottom:1px solid #D6AB7E;
    p{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
    }
  }
  &__links1{
    display:flex;
    flex-direction: column;
    padding-top:5px;
    padding-bottom:15px;
    border-bottom:1px solid #D6AB7E;
    a{
      color:black;  
      font-family: 'Raleway';
      font-weight: 300;
      font-size: 22px;
      text-decoration: none;
      margin-top:6px;
    }
    a:hover{
        text-decoration: underline;
    }
  }
  &__title2{
    display: flex;
    align-items: center;
    height: 58px;
    border-bottom:1px solid #D6AB7E;
    p{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
    }
  }
  &__links2{
    display:flex;
    flex-direction: column;
    padding-top:5px;
    padding-bottom:15px;
    border-bottom:1px solid #D6AB7E;
    a{
      color:black;  
      font-family: 'Raleway';
      font-weight: 300;
      font-size: 22px;
      text-decoration: none;
      margin-top:6px;
    }
    a:hover{
        text-decoration: underline;
    }
  }
}
.page__nums{
  border-right: 1px solid #D6AB7E;
  border-left: 1px solid #D6AB7E;
  &__content{
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
}


.footer{
  margin-top:65px;
  background-color: #E1D8D1;
  height: 460px;
  width:100%;
  &__content{
      display: flex;
      justify-content: center;
      padding-top:64px;
  }
}

@media screen and(max-width:1049px){
  ._container{
    width: 960px;
  }
  .header{
    height:250px;
    &__icons{
        margin-left:130px;
    }
  }
  .catalogue{
    .menu{
      &__links1,&__links2{
        a{
          font-size: 20px;
        }
      }
    }
    .page__nums{
      border-left: none;
      border-right: none;
    }
  }
}
@media screen and(max-width:991px){
  ._container{
      width:720px;
  }
  .header{
    height: 230px;
    &__search{
        margin-left:100px;
        width:320px;
    }
    &__icons{
        margin-left:130px;
    }
    &__icon1{
        margin-left:35px;
    }
}
  .catalogue{
    &__content{
      flex-direction: column;
    }
    .menu{
      &__container{
        width:720px;
      }
      &__title1,&__title2{
        border-bottom: none;
      }
      &__links1,&__links2{
        flex-direction: row;
        flex-wrap:wrap;
        a{
          padding-right: 20px;
        }
      }
    }
  }
}
@media screen and(max-width:767px){
  ._container{
      width: 540px;
  }
  .header{
    height: 160px;
    &__search{
        margin-left:53px;
        width:250px;
    }
    &__icons{
        margin-left:65px;
    }
    &__icon1{
        margin-left:0px;
    }
    &__text{
        font-size:18px;
    }
    &__title{
      text-align: center;
      margin-top: 20px;
      p{
        font-size:25px;
        margin: 0 0 0 0;
      }
    }
}
  .catalogue{
    &__content{
      flex-direction: column;
    }
    .menu{
      &__container{
        width:540px;
      }
    }
  }
  .footer{
    &__content{
        flex-direction:row;
        flex-wrap:wrap;
    }
}
}
@media screen and(max-width: 575px){
  ._container{
      width:100%;
  }
  .header{
    &__search{
        margin-left: 10%;
        width:35%;
        height: 35px;
    }
    &__logo{
        font-size:30px;
    }
    &__icons{
        margin-left:10%;
        img{
            width:20px;
        }
    }
    &__icon1{
        display:none;
    }
    &__text{
        font-size:13px;
        width:40%;
    }
  }
  .catalogue{
    .menu{
      &__container{
        width:100%;
      }
    }
  }
  .footer{
    &__content{
      padding-top:0px;
    }
    &__container{
        background-color:#E1D8D1 ;
    }
}

}